<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div id="myDIV" class="header">
        <h2 style="margin:5px">Items</h2>
        <input type="text" id="myInput" placeholder="What other items do you have in your wardrobe?">
        <span onclick="newElement()" class="addBtn">Add a Category</span>
    </div>

    <ul id="myUL">
        <li>Tops</li>
        <li>Bottoms</li>
        <li>Footwear</li>
        <li>Assesories</li>
        <li>Outerwear</li>
    </ul>

</body>

</html>