h1 {
    text-align: center;
  }

  div {
    
    background-color: powderblue;
  }
  
  
  body {
    
    background-color: rgb(86, 4, 163);
  }
h1 {
  font-family: 'Encode Sans Condensed', sans-serif;
}


  img.align-center {
    display: block;
    margin: 0px auto;}
  img.medium {
    width: 250px;
    height: 250px;}
  