.fs35 {
  font-size: 35px !important;
}

.mw50 {
  max-width: 50px !important;
}
.mn {
  margin: 0 !important;
}
.mw140 {
  max-width: 140px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mr25 {
  margin-right: 25px !important;
}

.mw40 {
  max-width: 40px !important;
}

.p30 {
  padding: 30px !important;
}

.page-heading {
position: relative;
padding: 30px 40px;
margin: -25px -20px 25px;
background-color: #ffffff;
}